satisfy-soap-steps/src/test/wsdl/WheatherService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WheatherServiceService"
                  targetNamespace="http://services.showcase.acceptancetest.tapack.io/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://services.showcase.acceptancetest.tapack.io/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://services.showcase.acceptancetest.tapack.io/" elementFormDefault="unqualified"
                   targetNamespace="http://services.showcase.acceptancetest.tapack.io/" version="1.0">
            <xs:element name="getWeatherFor" type="tns:getWeatherFor"/>
            <xs:element name="getWeatherForResponse" type="tns:getWeatherForResponse"/>
            <xs:element name="getWeatherInformation" type="tns:getWeatherInformation"/>
            <xs:element name="getWeatherInformationResponse" type="tns:getWeatherInformationResponse"/>
            <xs:complexType name="getWeatherFor">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getWeatherForResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getWeatherInformation">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getWeatherInformationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getWeatherInformation">
        <wsdl:part name="parameters" element="tns:getWeatherInformation">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWeatherInformationResponse">
        <wsdl:part name="parameters" element="tns:getWeatherInformationResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWeatherFor">
        <wsdl:part name="parameters" element="tns:getWeatherFor">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWeatherForResponse">
        <wsdl:part name="parameters" element="tns:getWeatherForResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WheatherService">
        <wsdl:operation name="getWeatherFor">
            <wsdl:input name="getWeatherFor" message="tns:getWeatherFor">
            </wsdl:input>
            <wsdl:output name="getWeatherForResponse" message="tns:getWeatherForResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWeatherInformation">
            <wsdl:input name="getWeatherInformation" message="tns:getWeatherInformation">
            </wsdl:input>
            <wsdl:output name="getWeatherInformationResponse" message="tns:getWeatherInformationResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WheatherServiceServiceSoapBinding" type="tns:WheatherService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getWeatherFor">
            <soap:operation soapAction="getWeatherFor" style="document"/>
            <wsdl:input name="getWeatherFor">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getWeatherForResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWeatherInformation">
            <soap:operation soapAction="getWeatherInformation" style="document"/>
            <wsdl:input name="getWeatherInformation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getWeatherInformationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WheatherServiceService">
        <wsdl:port name="WheatherServicePort" binding="tns:WheatherServiceServiceSoapBinding">
            <soap:address location="http://localhost:9090/WheatherServicePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
